<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <add key="URL1" value="http://finviz.com/"/>
  <add key="URL2" value="http://finviz.com/"/>
  <add key="URL3" value="http://finviz.com/"/>
  <add key="URL4" value="http://finviz.com/"/>

  <add key="Timer1" value="10000"/>
  <add key="Timer2" value="11000"/>
  <add key="Timer3" value="12000"/>
  <add key="Timer4" value="13000"/>
  
</configuration>